.error-container {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -285px;
    margin-top: -190px;
    height: 482px;
}

.error-404 {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -285px;
    margin-top: -190px;
}

.error-text {
    font-family: arial, sans-serif;
    f
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -60px;
}

.error-text-second {
    font-family: arial, sans-serif;
    display: block;
    text-align: center;
    margin-top: 400px;
}